<html>

<head>
</head>

<body>
    <div id="weather-card">

        <h2>Weather Forecast</h2>

        <div class="weather-container">
            <h2>{{ geoLocation.address }}, {{ geoLocation.point }}</h2>
                <table>
                    <thead>
  <tr>
    <td>Date (YYYY-MM-DD)</td>
    <td>Average temperature</td>
    <td>Average humidity</td>
    <td>Average pressure</td>
  </tr>
      </thead>
                    <tbody>

          {% for weatherByDay in weatherByDayList %}
              <tr>
                  <td>{{ weatherByDay.dayDate }}</td>
    <td>{{ weatherByDay.averageTemp }}</td>
    <td>{{ weatherByDay.averageHumidity }}</td>
    <td>{{ weatherByDay.averagePressure }}</td>
          {% endfor %}
       </tr>
    </tbody>
</table>
            <h3>Average values for selected interval:</h3>
        <h3>Average temperature - {{ avgData.resultAvgTemp }} C</h3>
        <h3>Average pressure - {{ avgData.resultAvgPressure }}</h3>
        <h3>Average humidity - {{ avgData.resultAvgHumidity }}</h3>
            </p>
        </div>
    </div>
    <br>

    <form action = "http://localhost:5000/saveWeatherDataToDB" method = "POST">
    <h1>Do you want to save this data to database?</h1>
        <input type = "hidden" name = "region" value="{{ avgData.region }}" />
        <input type = "hidden" name = "startDate" value="{{ avgData.startDate }}" />
        <input type = "hidden" name = "endDate" value="{{ avgData.endDate }}" />
        <input type = "hidden" name = "averageTemperature" value="{{ avgData.resultAvgTemp }}" />
        <input type = "hidden" name = "averagePressure" value="{{ avgData.resultAvgPressure }}" />
        <input type = "hidden" name = "averageHumidity" value="{{ avgData.resultAvgHumidity }}" />
   <p><input type = "submit" value = "SAVE" /></p>
</form>
        <form action = "http://localhost:5000/" method = "GET">
   <p><input type = "submit" value = "BACK" /></p>
</form>

    <footer>Made by: Dzmitry Latyshonak |
        <a href="https://openweathermap.org/api">Thanks for the API</a>
    </footer>


</body>

</html>